body
{
    background-color:  #D5BA98 ;
}


h1
{
    font-size: 50px;
}

h1{
    color: #885719;
    border-bottom: 2px solid #a89278;
    padding-bottom: 5px;
    display: inline-block
    
}
ul{list-style-type: square;}

a
{
    color: #060606;
    font-size: 20px;
}

h2
{
    color: #060606;
    font-size: 25px;
}

a{
    color: #0066cc;
    text-decoration: none;
}

a:hover{
    color: #a89278;
}

a{
    color: #0066cc;
    text-decoration: none;
    display: inline-block;
    transition: 0.2s;
}

a:hover{
    transform: translateY(-3px);
}

h2{
    color: #4d4949;
    border-bottom: 2px solid #a89278;
    padding-bottom: 5px;
    display: inline;
}
